query postsForApi {
  posts {
    id
    title
    content: body
    comments {
      count
      edges {
        node {
          id
          postId
          name
          email
          body
        }
      }
    }
    author {
      id
      name
      username
      address {
        street
        suite
        city
        zipcode
        geo {
          lat
          lng
        }
      }
      phone
      website
      company {
        name
        catchPhrase
        bs
      }
      posts {
        id
        title
      }
    }
  }
}
